extends layout

block content
  h1= title
  p Welcome to #{title}
  ul.list-group
    -
      var xs = [
        {link: '/invoice/fc', text: 'FC請求書'},
        {link: '/obc/mv', text: '移動CSV変換'},
        {link: '/obc/buying', text: '仕入CSV変換'},
        {link: '/fmww/returnedGoods', text: '仕入返品'},
      ]
    each x in xs
      li.list-group-item.col-6: a.col-12.btn.btn-primary(href=x.link role="button") #{x.text}
