extends ../../layout

block content
  h1= title
  p 返品データを基幹システムに登録する。
  form
    input#fire.btn.btn-primary(type="button" value="送信")
  p
    img#loading(src="/images/loading.gif" style="display:none;")
  pre#output
  script(src="/javascripts/ws.js")
  script.
    (() => {
      var action = new DefaultSubmitAction({
        path: '/fmww/returnedGoods',
        fire: 'fire',
        loading: 'loading',
        output: 'output',
      });
      action.enable();      
    })()
