extends ../../layout

block content
  h1= title
  p 移動データを勘定系システムへ登録できる形式に変換する。
  form
    input#fire(type="button" value="送信")
  p
    img#loading(src="/images/loading.gif" style="display:none;")
  pre#output
  script(src="/javascripts/ws.js")
  script.
    (() => {
      var action = new DefaultSubmitAction({
        path: '/obc/mv',
        fire: 'fire',
        loading: 'loading',
        output: 'output',
      });
      action.enable();
    })()
